body {
    background-image: url("../background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}
